<!--
File name: about.ejs
Author: Shawn McLaughlin <shawnmcdev@gmail.com>
Site: https://shawnmcla-portfolio.herokuapp.com/
Description: Content EJS file for about page.
-->
<% include ../partials/header.ejs %>
<!-- CONTENT PAGE FOR ABOUT -->
<div class="container">
  <div class="row">
    <div class="col-md-offset-3 col-md-6">
        <h1><%= title %></h1>
        <p>My name is Shawn McLaughlin. I am a Software Egineering student at Centennial College in Toronto, Canada.</p>
    </div>
  </div>
</div>
<% include ../partials/footer.ejs %>