<!--
File name: projects.ejs
Author: Shawn McLaughlin <shawnmcdev@gmail.com>
Site: https://shawnmcla-portfolio.herokuapp.com/
Description: Content EJS file for projects page.
-->
<% include ../partials/header.ejs %>
<!-- CONTENT PAGE FOR PROJECTS -->
<div class="container">
  <div class="row">
    <div class="col-md-offset-3 col-md-6">
        <h1><%= title %></h1>
        <p>Here lies information about certain projects I have been or currently am working on, either for school or personal.</p>
    </div>
  </div>

  <div class="row">
    <h2>Shudder</h2>
    <p>
      Shudder is an open source chat bot for the <a href="http://www.twitch.tv"><i>twitch.tv</i></a> video game streaming website programmed in Python.
      It allows the users of a channel's chat to interact with the bot using both built-in and custom commands. It includes several features such as a raffle
      system, a currency system and privilege level for commands. It interacts with the twitch chat via the IRC interface (programmed with Python sockets) and 
      gets channel and user data from the Twitch API. 
    </p>
  </div>
</div>
<% include ../partials/footer.ejs %>