/**
 * File name: app.css
 * Author: Shawn McLaughlin <shawnmcdev@gmail.com>
 * Site: https://shawnmcla-portfolio.herokuapp.com/
 * Description: Custom stylings for the website.
 */
 
.navbar{
    background-color: #000000;
    border-radius: 0px;
}

.navbar-brand {
  padding: 0px;
}
.navbar-brand>img {
  height: 100%;
  width: auto;
}

